.claude
.idea
.phpunit.cache
.vscode
vendor
.php-cs-fixer.cache
clover.xml
composer.lock
mt-compose.yml

# PhpStorm terminal history files (Windows paths in WSL)
C:\Users\*\AppData\Local\JetBrains\*\terminal\history\*
